.FooterName {
    white-space: nowrap;
    font-size: 1em;
    padding-left: 5%;
}

.FooterName h2 {
    margin-top: 0;
}

.FooterName p {
    margin-top: 0;
    color: #606360;
}


@media (max-width: 800px) {
    .FooterName {
        font-size: smaller;
        padding-left: 4%;
    }
}

@media (max-width: 600px) {
    .FooterName {
        font-size: small;
        padding-left: 3%;
    }
}

@media (max-width: 400px) {
    .FooterName {
        font-size: x-small;
        padding-left: 2%;
    }
}