.Header {
    border-top: 3px solid black;
    border-bottom: 1px solid black;
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ProfilePic {
    border-radius: 50%;
    display: block;
    width: 75px;
    height: 75px;
}

.PName {
    font-size: 1.8em;
    margin-left: 5px;
    color: #383838;
}

.Navigation {
    margin-left: 40%;
}

.NavBar a {
    padding: 10px;
    text-decoration: none;
    color: rgb(60, 60, 60);
}

.NavBar ul {
    list-style: none;
    color: black;
}

.NavBar a:hover,
.NavBar a:active,
.NavBar a.active {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .ProfilePic {
        width: 60px;
        height: 60px;
    }
    .PName {
        font-size: 1.6em;
    }
    .Navigation {
        margin-left: 20%;
    }
}

@media (max-width: 600px) {
    .ProfilePic {
        width: 40px;
        height: 40px;
    }
    .PName {
        font-size: 1.2em;
    }
    .Navigation {
        margin-left: 5%;
    }
}

@media (max-width: 400px) {
    .ProfilePic {
        width: 40px;
        height: 40px;
    }
    .PName {
        font-size: 1em;
    }

    .NavBar {
        flex-direction: column;
    }

    .NavBar ul {
        margin-right: 50px;
    }
}