.WebsiteAttribution {
    padding-left: 5%;
}

.WebsiteAttribution p {
    color: #606360;
}


@media (max-width: 800px) {
    .WebsiteAttribution {
        padding-left: 4%;
        font-size: smaller;
    }
}

@media (max-width: 600px) {
    .WebsiteAttribution {
        padding-left: 3%;
        font-size: small;
    }
}

@media (max-width: 400px) {
    .WebsiteAttribution {
        padding-left: 2%;
    }
}